{% extends 'base/index.html' %}

{% block content %}
<div class="register">
  <h3>Register for an Amazebook Account</h3>
  <form action="/users/" method="post">

    {% if form.errors or error %}
      <div class="errors">
        {% for field in form %}
          {% if field.errors %}
            <div>
              {{ field.label_tag }}
              {{ field.errors }}
            </div>
          {% endif %}
        {% endfor %}
        {% if error %}
          <p class="custom-message">Error: {{ error }}</p>
        {% endif %}
      </div>
    {% endif %}

    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <div class="form-group tac">
      <button type="submit">Register</button>
    </div>
  </form>
  <h4>You're one step away from the world's largest digital library.</h4>
</div>
{% endblock %}