.form-group {
  @include clearfix;
  margin: 20px 0;

  label {
    float: left;
    display: inline-block;
    padding-top: 6px;
  }

  input[type='text'], input[type='password'] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    float: left;
    display: block;
    // @include vertical-align();
  }
}

.errors {
  border: 1px solid $red;
  margin: 20px 0;
  padding: 9px 12px;
  color: $red;
  border-radius: 5px;

  .custom-message {
    margin: 0;
  }
}

.errorlist {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;
}