.form-group {
  @include clearfix;
  margin: 20px 0;

  label {
    float: left;
    display: inline-block;
    padding-top: 6px;
  }

  input[type='text'] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    float: left;
    display: block;
  }
}