header {
  width: 100%;
  height: 140px;
  background: rgba(192, 192, 192, 0.22);
}

#wrapper {
  margin: 0 auto;
  width: $max-width;
  height: inherit;
}

#logo {
  @include vertical-align();
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  float: left;

  a {
    color: inherit;
    text-decoration: none;
  }
}

#navigation {
  float: right;
  @include vertical-align();

  ul {
    list-style: none;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 15px;
      cursor: pointer;
    }

  }

}