.register {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 500px;
  margin-top: 50px;

  label {
    width: 22%;
    margin-right: 3%;
  }
  input {
    width: 75%;
  }
}

button[type="submit"] {
  @include light-blue-button;
}