@mixin clearfix {
  overflow: hidden;
}

.overflow {
  @include clearfix;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tac {
  text-align: center;
}

.group {
  margin: 25px 0;
  p {
    margin: 0;
  }
}