@import "vendor/normalize";
@import "vendor/susy";
@import "vendor/typebase";
@import "utils";
@import "palette";

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

$max-width: 1200px;
$header-height: 140px;
$footer-height: 140px;

.wrapper {
  margin: 0 auto;
  width: $max-width;
  height: inherit;
}

.view-container {
  margin: 0 auto;
  width: $max-width;
  margin-top: 30px;
}

@import "buttons";

@import "header";
@import "book";
@import "order";
@import "register";
@import "forms";
@import "footer";