@import "vendor/normalize";
@import "vendor/susy";
@import "vendor/typebase";
@import "utils";
@import "palette";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$max-width: 1200px;

#view-container {
  margin: 0 auto;
  width: $max-width;
  margin-top: 30px;
}

@import "buttons";

@import "header";
@import "book";
@import "register";
@import "forms";