{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Amazebooks</title>
  {% stylesheet 'main' %}
</head>
<body>

  <header>
    <div class="wrapper">
      <div id="logo">
        <a href="/">Amazebooks</a>
      </div>
      <div id="navigation">
        <ul>
          {% if user %}
            <li>Profile</li>
            <li>Logout</li>
          {% else %}
            <li>Register</li>
            <li>Login</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </header>

  <div class="view-container" id="footer-wrapper">
    {% block content %}{% endblock %}
    <div id="footer-helper"></div>
  </div>

  <footer>
    <div class="wrapper">
      This is a footer.
    </div>
  </footer>

</body>
</html>