{% extends 'base/index.html' %}

{% block content %}
<h3>All Books</h3>
{% if user %}
<p>Hey {{ user.name }}, check out the latest books, or search for a particular one below:</p>
{% endif %}
<form class="search-form" action="/search/" method="get">
  <input name="query" type="text">
  <div class="spacer"></div>
  <button type="submit">Search</button>
</form>
<div class="sort">
  <label>Sort by:</label>
  <select name="sort-dropdown" id="sort-dropdown">
    <option disabled selected>Select an option</option>
    <option value="year-a">Year (oldest first)</option>
    <option value="year-d">Year (most recent first)</option>
    <option value="score-a">Average Score (lowest first)</option>
    <option value="score-d">Average Score (highest first)</option>
  </select>
</div>
<div class="books">
  {% for book in books %}
  <a class="single-book" href="/books/{{ book.isbn }}" data-year="{{ book.year_op.year }}" data-rating="{{ book.rating.score__avg }}">
    <div>
      <div class="grid-book-image">
        <img src="{{ book.image }}" alt="">
      </div>
      <h4>{{ book.title }}</h4>
      <h4>{{ book.year_op.year }}</h4>
      <h4 class="price">${{ book.price }}</h4>
      <p>Average rating: {{ book.rating.score__avg }}</p>
    </div>
  </a>
  {% endfor %}

</div>

{% endblock %}