{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Amazebooks</title>
  {% stylesheet 'main' %}
</head>
<body>

  <header>
    <div id="wrapper">
      <div id="logo">
        Amazebooks
      </div>
      <div id="navigation">
        <ul>
          <li>Profile</li>
          <li>Logout</li>
        </ul>
      </div>
    </div>
  </header>

  <div id="view-container">
    <h3>All Books</h3>
    <p>This is some good shit. Lorem ipsum man.</p>
    <div>
      <div class="single-book">
        <h4>Harry Potter and the Philosopher's Stone</h4>
        <h4 class="price">$19.99</h4>
      </div>
      <div class="single-book">
        <h4>Harry Potter and the Philosopher's Stone</h4>
        <h4 class="price">$19.99</h4>
      </div>
      <div class="single-book">
        <h4>Harry Potter and the Philosopher's Stone</h4>
        <h4 class="price">$19.99</h4>
      </div>
      <div class="single-book">
        <h4>Harry Potter and the Philosopher's Stone</h4>
        <h4 class="price">$19.99</h4>
      </div>
      <div class="single-book">
        <h4>Harry Potter and the Philosopher's Stone</h4>
        <h4 class="price">$19.99</h4>
      </div>
    </div>
    
  </div>

</body>
</html>