{% extends 'base/index.html' %}

{% block content %}
<h3>All Books</h3>
<p>This is some good shit. Lorem ipsum man.</p>
<div>
  <div class="single-book">
    <h4>Harry Potter and the Philosopher's Stone</h4>
    <h4 class="price">$19.99</h4>
  </div>
  <div class="single-book">
    <h4>Harry Potter and the Philosopher's Stone</h4>
    <h4 class="price">$19.99</h4>
  </div>
  <div class="single-book">
    <h4>Harry Potter and the Philosopher's Stone</h4>
    <h4 class="price">$19.99</h4>
  </div>
  <div class="single-book">
    <h4>Harry Potter and the Philosopher's Stone</h4>
    <h4 class="price">$19.99</h4>
  </div>
  <div class="single-book">
    <h4>Harry Potter and the Philosopher's Stone</h4>
    <h4 class="price">$19.99</h4>
  </div>
</div>
{% endblock %}