{% extends 'base/index.html' %}

{% block content %}
<div class="book-show">
  <div class="cover feedback-form">
    <img src="{{ book.image }}" alt="">

    {% if show_feedback_form %}
    <p>It looks like you've purchased this book before. Would you like to leave some feedback?</p>
    <form action="/books/{{ book.isbn }}/feedback/" method="post">
      {% csrf_token %}
      <label for="score">Rating</label>
      <select name="score" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <textarea name="feedback" id="feedback-textarea"></textarea>
      {% if feedback_form_error %}
        <div class="errors">
          <p class="custom-message">{{ feedback_form_error }}</p>
        </div>
      {% endif %}
      <button type="submit">Submit Feedback</button>
    </form>
    {% endif %}
  </div>
  <div class="info">
    <div class="overflow">
      <div class="title">
        <h3>{{ book.title }}</h3>
        <p><b>ISBN: </b>{{ book.isbn }}</p>
        <p><b>Authors: </b>{{ book.authors }}</p>
        <p><b>Publisher: </b>{{ book.publisher }}</p>
        <p><b>Year of Publication: </b>{{ book.year_op.year }}</p>
        <p><b>Subject: </b>{{ book.subject }}</p>
        <p><b>Keywords: </b>{{ book.keywords }}</p>
      </div>
      <div class="price">
        <h3>${{ book.price }}</h3>
        <p><b>{{ b_format }}</b></p>
        <p>{{ book.copies }} copies left</p>
        <form action="/books/{{ book.isbn }}/orders/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label>Quantity</label>
            <input name="quantity" type="number" />
          </div>
          <button type="submit">Add to Cart</button>
        </form>
      </div>
    </div>

    <div class="description">
    </div>
    <h4>Feedback</h4>
    <p>Number of feedback to show:</p>
    <input type="text" id="feedback-number-show">
    {% if feedbacks %}
      {% for feedback in feedbacks %}
      <div class="feedback">
        <p>{{ feedback.0.rater.name }} posted on {{ feedback.0.date_time }}:</p>
        <p><b>Rating: {{ feedback.0.score }}</b>  Usefulness: {{ feedback.0.usefulness.score__avg }}</p>
        <p class="body">{{ feedback.0.short_text }}</p>
        {% if feedback.1 == 'no' %}
          <p>Was the feedback useful to you?</p>
          <form class="rating-form" action="/feedback/{{ feedback.0.pk }}/ratings/" method="post">
            {% csrf_token %}
            <select name="score">
              <option value="0">Useless</option>
              <option value="1" selected>Useful</option>
              <option value="2">Very Useful</option>
            </select>
            <button type="submit">Rate</button>
          </form>
        {% elif feedback.1 == 'self' %}
        {% else %}
          {% if feedback.1.score == 0 %}
            <p>You rated this feedback as useless.</p>
          {% elif feedback.1.score == 1 %}
            <p>You rated this feedback as useful.</p>
          {% else %}
            <p>You rated this feedback as very useful.</p>
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
      <p>There's no feedback for this book yet. Why don't you order it and be the first to leave some?</p>
    {% endif %}

    <h4>Book Recommendations</h4>
    {% if recommendations %}
      <div class="recommendations">
        {% for book in recommendations %}
          <a class="single-book" href="/books/{{ book.isbn }}" data-year="{{ book.year_op.year }}" data-rating="{{ book.rating.score__avg }}">
            <div>
              <div class="grid-book-image">
                <img src="{{ book.image }}" alt="">
              </div>
              <h5>{{ book.title }}</h5>
              <h5>{{ book.year_op.year }}</h5>
              <h5 class="price">${{ book.price }}</h5>
              <p>Average rating: {{ book.rating.score__avg }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>There are no recommendations that we can offer.</p>
    {% endif %}

  </div>
</div>
{% endblock %}