{% extends 'base/index.html' %}

{% block content %}
<div class="book-show">
  <div class="cover feedback-form">
    <img src="http://placehold.it/700x1000" alt="">
    <!-- To be displayed only if the user has bought the the book before -->
    <p>It looks like you've purchased this book before. Would you like to leave some feedback?</p>
    <form>
      <textarea name="feedback" id="feedback-textarea"></textarea>
      <button type="submit">Submit Feedback</button>
    </form>
  </div>
  <div class="info">
    <div class="overflow">
      <div class="title">
        <h3>Some Damn Long Drawn Out Book</h3>
        <p><b>ISBN: </b>12341234123</p>
        <p><b>Authors: </b>Tan Ah Kow</p>
        <p><b>Publisher: </b>Dodgy Press</p>
        <p><b>Year of Publication: </b>2015</p>
        <p><b>Subject: </b>Adventure</p>
      </div>
      <div class="price">
        <h3>$19.99</h3>
        <p><b>Hardcover</b></p>
        <p>3 copies left</p>
        <form>
          <div class="form-group">
            <label>Quantity</label>
            <input type="number" />
          </div>
          <button type="submit">Add to Cart</button>
        </form>
      </div>
    </div>

    <div class="description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p><b>Keywords: </b>boring, long, lame</p>
    </div>
    <h4>Feedback</h4>
    <p>This is some good feedback man.</p>

    <h4>Book Recommendations</h4>
    <p>Check these titles out yo.</p>

  </div>
</div>
{% endblock %}