@import "vendor/normalize";
@import "vendor/susy";
@import "vendor/typebase";

@import "utils";


$max-width: 1200px;

#view-container {
  margin: 0 auto;
  width: $max-width;
  margin-top: 30px;
}

@import "header";
@import "book";
